body{
    display: flex;
    justify-content: center;
    background-image: url("https://store-images.s-microsoft.com/image/apps.31378.14440169033196048.33ec04e1-f2d4-46ed-a05b-03b332738f93.8032cfe7-683a-4be1-8b4c-9da7dc14c2b3?mode=scale&q=90&h=1080&w=1920");
  background-color: red;
}

#main{  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 8px;
    border-style: outset;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

#main:hover{
    padding: 80px;
    transition: 0.5s;
}

button{
    width: 150px;
    padding: 5px;
    margin: 5px;
    border-width: 10px;
    border-style: ridge;
}
button:hover{
    width: 300px;
    background-color: green;
    transition: 0.3s;
}

h2{
    color: whitesmoke;
    font-family: monospace;

}

#h1{
    color: whitesmoke;
    font-family: monospace;
    font-size: 70px;
    
}

audio{
    position: absolute;
    z-index: 0;
    display: none;
}


